*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.login{
    background-image: url(typing_image.webp);
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: absolute;
}
.box{
    opacity: 100%;
    background-color: white;
    height: 500px;
    width: 330px;
    margin: 120px auto;
    border-radius: 20px;
}
.input1{
    top: 200px;
    width: 135px;
    margin: 50px auto;
    padding: 70px 0;   
}
.input2{
    top: 200px;
    width: 135px;
    margin: 50px auto;
    padding: 100px 0;
    /* border: 2px solid black; */
}
.input-field{
    width: 130px;
    margin: 5px 0;
    padding: 10px 0;
    border-radius: 7px;
}
.btn:hover{
    cursor: pointer;
    background-color: rgb(212, 206, 206);
}
.btn{
    width: 70px;
    padding: 7px 0;
    border-radius: 40px;
    margin: 7px 30px;
}
.para{
    display: inline;
    /* border: 2px solid black; */
    margin: auto;
}
.box1{
    text-align: center;
    background-color: green;
    position: relative;
    top: 40px;
}
